<mat-stepper orientation="vertical" #stepper linear>
  <!-- Коммерческие проекты -->
  @if (projects.commercial?.length) {
  <mat-step>
    <ng-template matStepLabel>Коммерческие проекты</ng-template>
    <ul>
      @for (compro of projects.commercial; track $index) {
      <li class="list-item">
        <!-- Название проекта -->
        <p>
          <a href="{{ compro.url }}" class="link">{{ compro.title }}</a>
          | {{ compro.year | date : "MM/yyyy " }}
        </p>
        <!-- Описание проекта -->
        <p>{{ compro.description }}</p>
      </li>
      }
    </ul>
  </mat-step>
  }
  <!-- Pet-проекты -->
  @if (projects.pet?.length) {
  <mat-step>
    <ng-template matStepLabel>Pet-проекты</ng-template>
    <ul>
      @for (petpro of projects.pet; track $index) {
      <li class="list-item">
        <!-- Название проекта -->
        <p>
          <a href="{{ petpro.url }}" class="link">{{ petpro.title }}</a>
          | {{ petpro.year | date : "MM/yyyy " }}
        </p>
        <!-- Описание проекта -->
        <p>{{ petpro.description }}</p>
      </li>
      }
    </ul>
  </mat-step>
  }
</mat-stepper>
